<div class="container jumbotron filtrar">
    <div class="card text-center">
        <div class="card-body">
            <!--<ngb-alert id="uno" type="danger" (close)="cerrar('uno')">No ingresaste bien tu correo.</ngb-alert>
            <ngb-alert id="dos" type="success" (close)="cerrar('dos')">Enviamos el correo.</ngb-alert>-->
            <h3 class="card-title accesibilidad top">Recuperar contraseña</h3>
            <h4 class="accesibilidad">Ingresa tu email</h4>
            <div class="form-group text-center">
                <input type="email" class="form-control" required>
                <div class="form-group mt-4">
                    <button class="btn btn-info accesibilidad" (click)="onReset()">Enviar correo</button>
                </div>
            </div>
        </div>
    </div>
</div>